.header {
    background-color: brown;
    font-size: 30px;
    text-align: center;
    padding: 20px;
}

.footer {
    background-color: brown;
    font-size: 30px;
    text-align: center;
    padding: 20px;
}

.about {
    height: 100vh;
}
